@charset "utf-8";

.container.top {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  top: 0;
}

.container.top .inner {
  overflow: hidden;
}

.container.top h1 {
  width: 260px;
  height: 42px;
  position: absolute;
  top: 3%;
  left: 3%;
}

.container.top .navi {
  position: absolute;
  top: 5%;
  right: 3%;
}

.container.top .navi a {
  margin: 0 0 0 0.5em;
}

.container.top canvas {
  height: 100%;
  max-width: 1800px!important;
  min-width: 1200px!important;
  width: 100%;
  margin: 0 auto;
  overflow:hidden;
}

.container.top .key-visual {
  top: 50%;
  left: 50%;
  margin: -124px 0 0 -124px;
  position: absolute;
  overflow:hidden;
}

.container.top iframe.like-box {
  top: 15%;
  right: 3%;
  position: absolute;
}

.container.top .twitter {
  font-size: 1.1em;
  position: absolute;
  width: 30%;
  top: 15%;
  left: 3%;
}

.container.top #jTweetsAnywherehide,
.container.top #jTweetsAnywhereino {
  font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN";
}

.container.top div.inoue {
  margin: 1.5em 0 0;
}

.container.top h3.ishikawa,
.container.top h3.inoue {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0.3em;
}

.container.top .links {
  position: absolute;
}

.container.top .links.members {
  top: 30%;
  left: 38%;
}
.container.top .links.works {
  top: 50%;
  left: 62%;
}
.container.top .links.contact {
  top: 75%;
  left: 45%;
}

.container.top .copyright {
  font-size: 0.7em;
  position: absolute;
  bottom: 2%;
  right: 3%;
}

#powerTip {
	position: absolute;
	display: none;
	color: #00C1BC;
  font-size: 1.1em;
}

.container.members {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #000000;
  position: absolute;
  top: 0;
}

.container.members .inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.container.members .inner h1 {
  width: 260px;
  height: 42px;
  position: absolute;
  top: 3%;
  left: 3%;
}

.container.members .inner .navi {
  position: absolute;
  top: 5%;
  right: 3%;
}

.container.members .inner .navi a {
  margin: 0 0 0 0.5em;
}

.container.members .inner .category {
  font-size: 1.3em;
  font-weight: bold;
  color: #888888;
  position: absolute;
  top: 15%;
  left: 4%;
}

.container.members .inner .copyright {
  font-size: 0.7em;
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.container.members .inner .ishikawa {
  margin: -80px 0 0;
  position: absolute;
  top: -160px;
  left: 30%;
}

.container.members .inner .ino {
  margin: -80px 0 0;
  position: absolute;
  top: -160px;
  right: 30%;
}

.container.members .inner a.close {
  width: 45px;
  height: 45px;
  margin: -22px 0 0;
  position: absolute;
  top: 50%;
  right: 3%;
  background: url('/images/base/close-button.png') no-repeat;
}

.container.members .inner a.close:hover {
  background: url('/images/base/close-button-hover.png') no-repeat;
}

.container.members .inner h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: -1000px;
}

.container.members .inner h2 strong {
  font-size: 1.5em;
  font-weight: bold;
}

.container.members .inner ul {
  position: absolute;
  top: 65%;
  display: none;
}

.container.members .inner ul.is.description {
  text-align: left;
  left: 30%;
}

.container.members .inner ul.in.description {
  text-align: right;
  right: 30%;
}

.container.members .inner ul li.name {
  font-size: 1.2em;
  font-weight: bold;
  color: #888888;
}

.container.members .inner ul li a {
  text-decoration: underline;
}

.container.works {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #DDDDDD;
  position: absolute;
  top: 0;
}

.container.works .inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.container.works .inner h1 {
  width: 260px;
  height: 42px;
  position: absolute;
  top: 3%;
  left: 3%;
}

.container.works .inner .navi {
  position: absolute;
  top: 5%;
  right: 3%;
}

.container.works .inner .navi a {
  margin: 0 0 0 0.5em;
}

.container.works .inner .category {
  font-size: 1.3em;
  font-weight: bold;
  color: #888888;
  position: absolute;
  top: 15%;
  left: 4%;
}

.container.works .inner .copyright {
  font-size: 0.7em;
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.container.works .inner .ishikawa {
  margin: -80px 0 0;
  position: absolute;
  top: -160px;
  left: 30%;
}

.container.works .inner .ino {
  margin: -80px 0 0;
  position: absolute;
  top: -160px;
  right: 30%;
}

.container.works .inner a.close {
  width: 45px;
  height: 45px;
  margin: -22px 0 0;
  position: absolute;
  top: 50%;
  right: 3%;
  background: url('/images/base/close-button.png') no-repeat;
}

.container.works .inner a.close:hover {
  background: url('/images/base/close-button-hover.png') no-repeat;
}

.container.works .inner h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: -1000px;
}

.container.works .inner h2 strong {
  font-size: 1.5em;
  font-weight: bold;
}

.container.works .inner .slider {
  width: 475px;
  height: 475px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -238px 0 0 -238px;
  overflow: hidden;
}

.container.works .inner .slider .shots {
  position: relative;
  float: left;
  width: 475px;
  height: 475px;
}

.container.works .inner .slider .shots.unripe {
  background: url('/images/works/unripe_off.jpg') no-repeat;
}

.container.works .inner .slider .shots.aoyama {
  background: url('/images/works/aoyama_off.jpg') no-repeat;
}

.container.works .inner .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
}

.container.works .inner .name {
  font-size: 1.4em;
  font-weight: bold;
  color: #000000;
  position: absolute;
  top: 48%;
  left: 8%;
}

.container.works .inner .name.aoyama, 
.container.works .inner ul.aoyama {
  display: none;
}

.container.works .inner ul {
  position: absolute;
  top: 35%;
  right: 8%;
  text-align: right;
}

.container.works .inner ul li {
  line-height: 1.8;
}

.container.works .inner ul li.description {
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}

.container.works .inner ul li.data {
  font-size: 0.9em;
  font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN";
}

.container.works .inner ul li a {
  text-decoration: underline;
}

.container.works .inner .buttons {
  position: absolute;
  bottom: 10%;
  left: 8%;
}

.container.works .inner .buttons a {
  width: 23px;
  height: 22px;
  float: left;
  margin: 0 0 0 1em;
  cursor: pointer;
}

.container.works .inner .buttons a.btn.unripe {
  background: url('/images/works/button_u_off.png') no-repeat;
}

.container.works .inner .buttons a.btn.unripe:hover,
.container.works .inner .buttons a.btn.unripe.selected {
  background: url('/images/works/button_u_on.png') no-repeat;
}

.container.works .inner .buttons a.btn.aoyama{
  background: url('/images/works/button_a_off.png') no-repeat;
}

.container.works .inner .buttons a.btn.aoyama:hover,
.container.works .inner .buttons a.btn.aoyama.selected{
  background: url('/images/works/button_a_on.png') no-repeat;
}

.container.contacts {
  width: 100%;
  height: auto;
  background-color: #fff8b3;
  position: absolute;
  top: 0;
}

.container.contacts .inner {
  overflow: hidden;
}

.container.contacts h1 {
  width: 260px;
  height: 42px;
  position: absolute;
  top: 3%;
  left: 3%;
}

.container.contacts .navi {
  position: absolute;
  top: 5%;
  right: 3%;
}

.container.contacts .navi a {
  margin: 0 0 0 0.5em;
}

.container.contacts .form {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  background: url('/images/contacts/frame.png') no-repeat;
}

.container.contacts .form form {
  margin: 83px 0 0 83px;
}

.container.contacts .inner .category {
  font-size: 1.3em;
  font-weight: bold;
  color: #888888;
  position: absolute;
  top: 15%;
  left: 4%;
}

.container.contacts .inner .form .title {
  font-size: 1.4em;
  font-weight: bold;
  color: #000000;
  margin: 0 0 0.5em;
}

.container.contacts .inner .form p {
  margin: 0.5em 0 0.1em;
  font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN";
}

.container.contacts .copyright {
  font-size: 0.7em;
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.container.contacts .inner a.close {
  width: 45px;
  height: 45px;
  margin: -22px 0 0;
  position: absolute;
  top: 50%;
  right: 3%;
  background: url('/images/base/close-button.png') no-repeat;
}

.container.contacts .inner a.close:hover {
  background: url('/images/base/close-button-hover.png') no-repeat;
}

